---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>Top Headlines</h1>
  <div class="vibe">You are great!</div>

  <ul>
  {% for article in news.articles %}
    <li>
      <img src="{{ article.urlToImage }}" width="300" height="200"/>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
      <p>{{ article.description }}</p>
    </li>

  {% endfor %}
  </ul>
</div>
<script src="/js/vibe.js"></script>
